[Desktop Entry]
Version=1.0
Type=Application
Name=Sublime Text
GenericName=Text Editor
Comment=Sophisticated text editor for code, markup and prose
Terminal=false
MimeType=text/plain;
Icon=com.sublimetext.three
Categories=TextEditor;Development;
StartupNotify=true
Actions=Window;Document;
X-Desktop-File-Install-Version=0.24
X-Flatpak=com.sublimetext.three

[Desktop Action Window]
Name=New Window
OnlyShowIn=Unity;

[Desktop Action Document]
Name=New File
OnlyShowIn=Unity;
